* {
  font-family: 'Inter', sans-serif;
}

body {
  background: rgb(166, 229, 160);
  background-size: cover;
  width: 940px;
  color: white;
  padding: 200px;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: #8e89f1;
}

button {
  background-color: #655ff2;
  color: white;
  width: 100px;
  position: absolute;
  font-size: 15px;
  border: solid 2px #000;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#move {
  left: 200px;
}

#change:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(166, 229, 160);
    background-size: cover;
    color: white;
    padding: 50px;
  }
  button {
    background-color: #655ff2;
    color: white;
    width: 100px;
    height: 80px;
    position: absolute;
    font-size: 15px;
    border: solid 2px #000;
    border-radius: 5px;
  }
}
